/* USER VARIABLES SECTION */

:root {
    font-size: 10px;

    --accent: #4286f4;
    --text-color: #333;
    --text-font-size: 1.6rem;
    --title-font-size: 3.2rem;
    --line-height: 1.65;
    --text-font-family: open-sans, sans-serif;
    --title-font-family: open-sans, sans-serif;
    --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    --transition: 0.2s ease;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 0.625rem;
}
.row,
.row > * {
    --bs-gutter-x: 1.25rem;
}

/* FONTS LOAD SECTION */

@font-face {
    src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
    font-family: "roboto-st";
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
    font-family: "roboto-st";
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url("../fonts/open-sans-v27-latin-regular.woff2") format("woff2");
    font-family: "open-sans";
    font-weight: 400;
    font-style: normal;
}

/* GENERAL CSS SETTINGS */

::placeholder {
    color: #666;
}
::selection {
    background-color: var(--accent);
    color: #fff;
}
input,
textarea {
    outline: none;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
    border-color: red;
}
input:required:valid,
textarea:required:valid {
    border-color: green;
}

body {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    line-height: var(--line-height);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font-family);
}

/* USER STYLES */

ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

.wrapper {
    min-width: 320px;
    min-height: 100vh;
}

/* HEADER */

.header {
    color: white;
    background-color: #373b44;
}
.header__logo {
    height: 100%;
}

/*  NAV */

.nav {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
}
.nav > ul {
    display: flex;
    justify-content: end;
    text-transform: uppercase;
}
.nav li {
    position: relative;
}
.nav > ul li.has-child::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 5px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: rotate(-45deg) translateY(-50%);
    transition: all var(--transition);
}
.nav > ul li:hover::after {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    top: calc(50% - 4px);
}
.nav a {
    padding: 1em 2em;
    display: block;
    color: inherit;
    background-color: #373b44;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nav a:hover {
    background: var(--accent);
}

/* SUB NAV */

.nav li ul {
    width: 100%;
    min-width: 200px;
    position: absolute;
    text-transform: initial;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition);
}
.nav li:hover > ul {
    visibility: visible;
    opacity: 1;
}
.nav li > ul li ul {
    right: -200px;
    top: 0;
}
