@import "reset.css";
@import "fonts.css";
@import "media.css";

/* USER VARIABLES SECTION */

:root {
    font-size: 1em;

    --primary: hsl(240, 60%, 20%);
    --secondary: hsl(240, 60%, 30%);
    --accent: hsl(240, 89%, 61%);
    --light-gray: #f8f8f3;

    --font-family: roboto, sans-serif;
    --color: #333;

    --transition: 0.4s ease-in-out;
}

body {
    font-family: var(--font-family);
    color: var(--color);
    line-height: 1.6;
}

/* USER STYLES */

.help-height {
    height: 100vh;
    background-color: cadetblue;
}
.wrapper {
    overflow: hidden;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    /* max-width: 1320px; */
}

/* HEADER */

.header {
    width: 100%;
    position: fixed;
    z-index: 100;
    color: white;
    background-color: var(--primary);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    height: 100%;
}

/*  NAV */

.nav {
    font-size: 0.625rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.nav > ul {
    display: flex;
}
.nav li {
    position: relative;
}
.nav ul li.has-child::after {
    content: "";
    width: 0.6em;
    height: 0.6em;
    position: absolute;
    top: 50%;
    right: 0.5em;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    transform: rotate(-45deg) translateY(-50%);
    transition: all var(--transition);
}
.nav ul li:hover::after {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: white;
    border-bottom-color: white;
    top: calc(50% - 0.3em);
}
.nav a {
    padding: 1.5em 2em;
    display: block;
    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--secondary);
    text-overflow: ellipsis;
    transition: background-color var(--transition);
}
.nav a:hover {
    background-color: var(--accent);
}

/* SUB NAV */

.nav li ul {
    width: 20em;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0.25em 0.25em 0 rgba(0, 0, 0, 0.2);
    transition: visibility var(--transition), opacity var(--transition);
}
.nav li ul li {
    border-top: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
}
.nav li ul li:last-child {
    border-bottom: 1px solid var(--primary);
}
.nav li:hover > ul {
    visibility: visible;
    opacity: 1;
}
.nav li > ul li ul {
    top: -1px;
    right: -20em;
}

/* GALLERY */

.frames {
    width: 100vw;
    height: 100vh;
    position: fixed;
    perspective: 1500px;
    transform-style: preserve-3d;
}
.frames__item {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition), opacity 0.75s ease;
    will-change: transform;
    transform-style: preserve-3d;
    transition: all 0.7s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: translateZ(-50vw);
}
.frames__item.show {
    visibility: visible;
    opacity: 1;
    transform: translateZ(0);
}
.frames__item.hide {
    visibility: hidden;
    opacity: 0;
    transform: translateZ(50vw);
}
.frames__line {
    width: 100%;
    height: 0.4em;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 0.3em;
}
.frames__line-item {
    height: 100%;
    flex: 1;
    background-color: var(--secondary);
    overflow: hidden;
}
.frames__line-item::before {
    content: "";
    height: 100%;
    display: block;
    background-color: var(--accent);
    transform: translateX(-100%);
    transition: transform 0.7s ease-in-out;
}
.frames__line-item.active::before {
    transform: translateX(0);
}

/* FIRST SCREEN */

.first-screen {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("../images/5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: white;
}
/* .first-screen__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: var(--primary);
    background-blend-mode: hard-light;
} */
.first-screen__body {
    position: relative;
    pointer-events: none;
}
.first-screen__heading {
    font-size: 5em;
    text-transform: uppercase;
    line-height: 1.2;
    color: var(--accent);
}
.first-screen__services {
    margin-top: 2em;
    padding: 2em 4em;
    display: inline-block;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: initial;
}
.first-screen__services li + li {
    margin-top: 0.5em;
}
.first-screen__services a {
    padding: 0 0.5em;
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    color: inherit;
}
.first-screen__services a:hover::before {
    width: calc(100% + 1em);
    height: 100%;
    opacity: 0.2;
    transition: opacity var(--transition), width var(--transition) 0.4s,
        height var(--transition);
}
.first-screen__services a::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    top: 50%;
    left: -0.5em;
    transform: translateY(-50%);
    background-color: var(--accent);
    transition: opacity var(--transition) 0.4s, width var(--transition),
        height var(--transition) 0.4s;
}
.first-screen__action-wrapper {
    margin-top: 2em;
}
.first-screen__action {
    padding: 1em 2em;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: inherit;
    background-color: var(--accent);
    pointer-events: initial;
    transition: background-color var(--transition);
}
.first-screen__action:hover {
    background-color: var(--secondary);
}

/* SEO */

.seo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.seo__body {
    padding: 3em 0;
    display: flex;
}
.seo__heading {
    margin-bottom: 0.5em;
    font-size: 2em;
}
.seo__item {
    position: relative;
    flex: 1;
}
.seo__descr p + p {
    margin-top: 1em;
}
.seo__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* POPULAR SERVICES */
.popular-services {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-services__heading {
    margin-bottom: 1.5em;
    font-size: 2em;
}
.popular-services__body {
    display: flex;
    justify-content: space-between;
}
.popular-services__card {
    padding-bottom: 3em;
    width: 400px;
    position: relative;
    background-color: white;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
}
.popular-services__card-text {
    padding: 2em 1em;
}
.popular-services__card-heading {
    margin-bottom: 1em;
    font-size: 1.5em;
    line-height: 1.2;
}
.popular-services__card-heading a {
    color: var(--accent);
    text-decoration: underline;
}
.popular-services__card-descr {
    margin-bottom: 0.5em;
}
.popular-services__card-price {
    font-weight: bold;
}
.popular-services__card-price::before {
    content: "\20BD";
    margin-right: 0.2em;
    font-size: 2.2em;
    color: var(--accent);
}
.popular-services__card-price span {
    font-size: 2.2em;
    color: var(--accent);
}
.popular-services__card-price span sup {
    font-size: 0.5em;
    text-decoration: underline;
}
.popular-services__card-action {
    padding: 1em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    background-color: var(--accent);
    transition: background-color var(--transition);
}
.popular-services__card-action:hover {
    background-color: var(--primary);
}

/* BENEFITS */

.benefits {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
}
.benefits__heading {
    margin-bottom: 1em;
    font-size: 2em;
}
.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.benefits__list-item {
    padding: 2em 1em;
    position: relative;
    flex: 1 1 300px;
    background-color: white;
    border-radius: 0.2em;
}
.benefits__list-item svg {
    margin-top: -1em;
    width: 4em;
    height: 4em;
    fill: var(--accent);
    float: right;
}

/* CASES */

.cases {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.cases__heading {
    width: 100%;
    position: absolute;
    top: 5em;
    left: 0;
    z-index: 2;
    font-size: 2em;
}
.cases__list {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}
.cases__item {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.cases__item-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
}
.cases__item-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1px;
    background-color: white;
    clip-path: polygon(0 0, 0% 100%, 20% 0);
    transition: opacity var(--transition);
}
.cases__item .card {
    max-width: 600px;
}
.cases .swiper {
    width: 100%;
    height: 100%;
}
.cases .swiper-button-next,
.cases .swiper-button-prev {
    width: 2.5em;
    color: white;
    background-color: var(--accent);
    border-radius: 0.1em;
    transition: opacity 0.7s ease-in-out;
}
.cases .swiper-button-prev::after,
.cases .swiper-button-next::after {
    font-size: 1.8em;
}
.cases .swiper-button-prev.swiper-button-disabled,
.cases .swiper-button-next.swiper-button-disabled {
    opacity: 0;
}
.cases .swiper-button-prev::after {
    content: "\2190";
}
.cases .swiper-button-next::after {
    content: "\2192";
}
/* CARD */

.card {
    will-change: transform;
    padding: 3em 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    border-radius: 0.625em;
    box-shadow: 0.31em 0.31em 1.5em 0 rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: transform var(--transition), box-shadow var(--transition);
    cursor: pointer;
}
.card__photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/2.jpeg") no-repeat center;
    background-size: cover;
    border-radius: 0.625em;
    overflow: hidden;
    transform: translateZ(1px);
    transition: transform var(--transition);
}
.card__photo:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition), background-color var(--transition);
}
.card__title,
.card__descr,
.card__subtitle {
    color: white;
    transform: translateZ(2px);
    transition: transform var(--transition), opacity var(--transition);
}
.card__title,
.card__subtitle {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
.card__title {
    margin: 1em 0;
}
.card__descr {
    font-size: 1em;
}
.card__chart {
    margin: 3.125em 0;
    display: flex;
    color: var(--color);
    transform-style: preserve-3d;
    transform: translateZ(2px);
    transition: transform var(--transition);
}
.card__bar {
    margin: 0 0.625em;
    width: 2.5em;
    height: 1px;
    position: relative;
    top: 1.75em;
    background: linear-gradient(
        to bottom,
        #feffff 0%,
        #ddf1f9 0%,
        #a0d8ef 100%
    );
    transform: translateX(-1.25em) rotateX(-90deg) rotateY(-45deg);
    transform-origin: 100% 100%;
    transform-style: preserve-3d;
    transition: height var(--transition), margin var(--transition),
        transform var(--transition);
}
.card__bar:before {
    content: "";
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: -2.5em;
    left: 0;
    background-color: white;
    transform: rotateX(90deg);
    transform-origin: 0% 100%;
}
.card__bar:after {
    content: "";
    width: 2.5em;
    height: 100%;
    position: absolute;
    top: 0;
    right: -2.5em;
    background: linear-gradient(
        to bottom,
        #feffff 0%,
        #85d7f7 0%,
        #4c8596 100%
    );
    transform: rotateY(90deg);
    transform-origin: 0% 50%;
}
.card__bar span {
    position: absolute;
    top: 0.5em;
    left: 100%;
    font-size: 1em;
    line-height: 2.5em;
    opacity: 0;
    white-space: nowrap;
    transform-origin: 0% 100%;
    transform: rotateZ(-90deg);
    transition: opacity var(--transition);
}
.card.details {
    transform: rotateX(60deg) translateY(50%);
    box-shadow: 0 1.875em 2.5em 0 rgba(0, 0, 0, 0.75);
}
.card.details .card__photo {
    transform: translateZ(1.25em);
}
.card.details .card__photo::before {
    background-color: var(--primary);
    opacity: 0.8;
}
.card.details .card__title {
    opacity: 0;
    transform: translateZ(1.6em) translateY(-4em);
}
.card.details .card__descr {
    opacity: 0;
    transform: translateZ(1.6em) translateY(-3.2em);
}
.card.details .card__subtitle {
    transform: translateZ(2.4em) translateY(4em);
}
.card.details .card__chart {
    transform: translateZ(2.5em) translateY(3.125em);
}
.card.details .card__bar {
    transform: translateX(-0.625em) rotateX(-90deg) rotateY(-25deg);
}
.card.details .card__bar:nth-child(1) {
    margin-top: -11em;
    height: 11em;
    transition-delay: 0.3s;
}
.card.details .card__bar:nth-child(2) {
    margin-top: -8.5em;
    height: 8.5em;
    transition-delay: 0.1s;
}
.card.details .card__bar:nth-child(3) {
    margin-top: -13em;
    height: 13em;
    transition-delay: 0s;
}
.card.details .card__bar:nth-child(4) {
    margin-top: -4.5em;
    height: 4.5em;
    transition-delay: 0.1s;
}
.card.details .card__bar span {
    opacity: 1;
    transition-delay: 0.3s;
}
